@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

*, ::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #ff6f61;
	--secondary-color: #1e1e1e;
	--text-color: #f5f5f5;
	--background-color: #121212;
	--highlight-color: #ffcc00;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	color: var(--text-color);
	font-family: 'Montserrat', sans-serif;
	background: url('assets/stars_pattern.png') repeat, linear-gradient(90deg, #000, #121212), #000;
}

.top-container {
	max-height: 50vh;
	overflow: auto;
	padding: 1em;
	margin: 0 auto;
	max-width: 1080px;
}

h1 {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 3rem;
	margin-bottom: 1.5em;
	color: var(--primary-color);
	text-shadow: 3px 3px 10px var(--highlight-color);
}

@media screen and (min-width: 680px) {
	h1 {
		font-size: 5rem;
	}	
}

.top-container > p {
	font-size: 1.5rem;
	margin-bottom: 1em;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: var(--text-color);
}

@keyframes glow-text {
	0%, 100% {
		text-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-color);
	}
	50% {
		text-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) #0000;
	}
}

.top-container > p:last-child {
	--shadow-x: 0;
	--shadow-y: 0;
	--shadow-blur: .5em;
	--shadow-color: var(--highlight-color);
	animation-name: glow-text;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

#canvas-container {
	position: relative;
	display: block;
	bottom: 0;
	height: 100%;
	max-height: 100vh;
	width: 100%;
	background-color: var(--background-color);
	transition: height 1s ease-in-out;
	z-index: 0;
}

#modal {
	color: var(--text-color);
	background-color: var(--secondary-color);
	width: 100%;
	max-width: 300px;
	position: absolute;
	top: 1rem;
	right: 1rem;
	border-radius: .5em;
	border-top-right-radius: initial;
	z-index: 1;
	opacity: 0;
	transition: opacity .5s ease-in-out;
	visibility: hidden;
	font-family: 'Montserrat', sans-serif;
}

#modal.active {
	opacity: 1;
	visibility: visible;
}

#modal .title {
	text-align: center;
	margin-bottom: .8em;
	color: var(--primary-color);
	text-shadow: 0 0 5px var(--highlight-color);
}

#modal > img {
	display: block;
	width: 100%;
	height: 200px;
	border-top-left-radius: inherit;
	object-fit: cover;
}

#modal .description-field {
	margin: .5rem auto;
	font-size: .85rem;
	color: var (--text-color);
}

#modal p b {
	color: var(--highlight-color);
}

#modal > #close-btn {
	display: block;
	width: 50px;
	height: 50px;
	font-size: 1rem;
	padding: 0;
	border: 2px solid var(--primary-color);
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 0 0 10px var(--primary-color);
	font: inherit;
	color: var(--text-color);
	background-color: rgba(0, 0, 0, 0.8);
	transition: transform .3s ease-in-out, background-color .3s ease-in-out;
	text-align: center;
	line-height: 50px;
}

#modal > #close-btn:active {
	transform: scale(0.9);
	background-color: rgba(0, 0, 0, 1);
}

#modal > #modal-body {
	overflow: auto;
	padding: 1em;
	max-height: 200px;
	box-shadow: inset 0 0 1px var(--primary-color);
	border-radius: inherit;
}

#canvas-container > canvas {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--background-color);
}

/* Remove styles related to the toggle button */
/* .controls {
	position: absolute;
	top: 10px;
	right: 10px;
} */

/* #toggle-expand {
	display: none;
} */

.slider-fg {
	background-color: var(--primary-color) !important;
}

.c input[type="text"] {
	color: var(--primary-color) !important;
}

.dg .cr.number {
	border-left-color: var(--primary-color) !important;
}